
SECRET_KEY=M0PGK-BnQx42YHbQDyjIIXayU6pgVZay0nw_Q08UsTdOwCRHMzlIXAQ8oGmGmTxsYYg
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=dineforecast
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5434

CORS_ALLOWED_ORIGINS=http://localhost:3000

ACCESS_TOKEN_LIFETIME_MINUTES=60
REFRESH_TOKEN_LIFETIME_DAYS=7
